// for more on building a config for an HPC see: https://nf-co.re/usage/tutorials/step_by_step_institutional_profile
params {
  config_profile_description = 'Beartooth cluster profile'
    max_memory = 100.TB
    max_time = 168.h
    max_cpus = 72
}

process {
    executor = 'slurm'
    queue = 'teton'
    errorStrategy = 'ignore' // not ideal, but wanted to get through queue
    beforeScript = 'module load arcc/1.0 gcc/12.2.0 r/4.2.2 gsl/2.7.1 openblas/0.3.21' // gsl and openblas are needed by gemma, called from R
    // Put in whatever options that are accepted by our system
    // including things like, --partition=teton-hugemem --mem=10000 # 10 GB
    // clusterOptions = '--account=modelscape --time=00:05:00 --cpus-per-task=1 --ntasks-per-node=1 --mem-per-cpu=1G' 
    singularity.enabled = true
    withLabel: 'tiny' { clusterOptions = '--account=modelscape --time=00:10:00 --cpus-per-task=1 --ntasks-per-node=1 --mem-per-cpu=1G --requeue' }
    withLabel: 'small' { clusterOptions = '--account=modelscape --time=01:00:00 --cpus-per-task=1 --ntasks-per-node=1 --mem-per-cpu=16G --requeue' }
    withLabel: 'medium' { clusterOptions = '--account=modelscape --time=1-00:00:00 --cpus-per-task=1 --ntasks-per-node=1 --mem-per-cpu=8G --requeue' }
    withLabel: 'large' { clusterOptions = '--account=modelscape --time=1-12:00:00 --cpus-per-task=1 --ntasks-per-node=1 --mem-per-cpu=30G --requeue' }
    withLabel: 'huge' { clusterOptions = '--account=modelscape --time=7-00:00:00 --cpus-per-task=1 --ntasks-per-node=1 --mem-per-cpu=124G --requeue' }
}

singularity {
 enabled = true
 autoMounts = true
     //cacheDir = '/project/modelscape/'
}

executor {
    queueSize = 300
    submitRateLimit = '200/2min'
}
